<!doctype html>
<html lang="en">

<head>
  <title>SoChat</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-cookie.min.js"></script>
  <script src="/js/angular-messages.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap-font.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/enum.js"></script>
  <script src="/controller/chatController.js"></script>
</head>

<body ng-app="SoChat">
  <div class="container chat-container" ng-controller="ChatController" ng-init="showHistory = true; showOnline = true;">
    <div id="listDiv" class="col-sm-3 chat-list">
      <ul class="list-group" id="talkInfoPanel">
        <li ng-click="showOnline = !showOnline" class="list-group-item danger">Online</li>
        <li ng-if="showOnline" class="list-group-item" ng-repeat="talkInfo in online" ng-click="startTalk(talkInfo)">
          {{talkInfo}}
        </li>
        <li ng-click="showHistory = !showHistory" class="list-group-item danger">History talk</li>
        <li ng-if="showHistory" class="list-group-item" ng-repeat="talkInfo in history" ng-click="startTalk(talkInfo.client)">
          {{talkInfo.client}}
          <span ng-if="talkInfo.unread" class="badge">{{talkInfo.unread}}</span>
        </li>
      </ul>
    </div>
    <div id="chatDiv" class="col-sm-9 chat-talk">
      <ul id="chat" class="messages">
        <li class="message left appeared">
          <div class="text_wrapper">
            <div class="text">
              <p>Select user and start chat</p>
            </div>
          </div>
        </li>
      </ul>
      <textarea ng-model="msg" class="msg-text-input form-control" rows="3" id="textArea" placeholder="Type here!" ng-keyup="sendMsg($event)"></textarea>
    </div>
  </div>
</body>

</html>
