@media screen and (min-width: 480px) {
  .logo {
    margin-top: 200px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    margin-top: 50px;
  }
}

.logo {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .btn {
    margin-bottom: 10px;
  }
}
